/*Colour scheme variables for easy editing*/
:root {
    --main-color:rgb(0, 0, 0);
    --secondary-color: rgb(4, 4, 4);
    --hover-background-color: rgb(46, 40, 40);
    --tertiary-color: rgb(215, 35, 35);
    --font-color: rgb(245, 237, 237);
    --link-color: rgb(173, 171, 171);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--main-color);
    color: var(--font-color);
}

h1{
    font-size: xxx-large;
    font-weight: 100;
}

h2{
    font-weight: 100;
}

a{
    color: var(--link-color);
    text-decoration: none;
}

.review_big{
    font-size: xxx-large;
    font-weight: 100;
}

/* The band image style */
.header_image{
    width: 100%;
    position: relative;
    object-fit: fill;
    left: 0px;
    top: 0px;
    z-index: -1;
    margin-top: -10%;
}

.header_div{
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
    max-width: 100%;
    width: 100%;
    left: 0px;
    top: 60%;
    position:absolute;
    
}

.header_logo_div{
    position:relative;
    display:flex;
    margin-left: 20%;
    margin-right: 20%;
}

.band_logo{
    opacity: 1.0;
    max-width: 100%;
    position: relative;
}

/* === The biography section === */

.bio{
    max-width: 98%;
    margin-left: 2%;
    margin-right: 2%;
}

.bio_content_div{
    margin-top: 3%;
    display:flex;
    flex-direction: row;
    margin-left: 1%;
    justify-content: center;
}

.bio_left{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8%;
    margin-right: 1%;
    margin-left: 1%;
}

.bio_list_box{
    margin-top: 6%;
}

.bio_writing_list{
    text-align:right;
    list-style-type: none;
    font-size: xx-large;
}

.bio_writing{
    margin-top: 3%;
    font-size: x-large;
    font-weight: 200;
}

.review_1_div{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 5%;
}

.review_1_big{
    font-size: xxx-large;
    font-weight: 100;
}

.review_1_small{
    margin-left: 53%;
}

.bio_photo_right{
    max-width: 50%;
}

.bio_photo{
    max-width: 100%;
}


/* === Listen === */

.our_music_div{
    max-width: 98%;
    margin-left: 1%;
}

.music_content_div{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: center;
    
    /* column-gap: 10%; */
}

.video_player{
    max-width: 25%;
    margin-left: 2%;
    margin-right: 2%;
}

.live_gig_video{

}

.our_music_right_div{
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-self:stretch;
    justify-content:flex-start;
}

.spotify{
    width: 100%;
}

.spotify_player{
    
    
}

.review_2{
    margin-top: 10%;
}

.review_2_small{
    margin-left: 50%;
    text-align: right;
}

/* === Contact === */
.contact_us_section{
    max-width: 98%;
    margin-left: 1%;
}

.contact_us_flex{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.contact_us_writing{
    font-size: xx-large;
    font-weight: 200;
    margin-top: 2%;
    margin-left: 2%;
}

.contact_us_photo{
    max-width: 100%;
    margin-top: 2%;
}

/* === Footer === */
.footer_div{
    background-color: var(--secondary-color);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.footer_top_logo_and_links{
    display:flex;
    flex-direction: column;
    max-width:40%;

}

.footer_logo{
    max-width: 50%;
}

.footer_links_flex{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.footer_link{
    /* max-width: 20%; */
    flex-grow: 1;
    flex-shrink: 1;
    display:block;
    max-width: 1%;
}

.footer_link_icon{
    max-width: 100%;
}