@import "/styles/colorScheme.css";

h1{
    margin: 0;
    font-size: 1.8rem;
}

h2{
    margin: 0.2rem 0;
    font-size: 1.1rem;
}



.ticket-time-period-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    column-gap: 1vw;
    /* margin: 2rem 4%; */
    padding: 2rem 5rem;
}

.ticket-time-period-form{
    display: flex;
    justify-content: center;
    align-self: center;
    column-gap: 1vw;
    
}

.ticket-time-button{
      background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: #0066cc; /* Link-like blue color */
  text-decoration: underline;
  cursor: pointer;
}

.gig-container{
    margin: 2rem 4%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.gig-info-container{
    display:flex;
    flex-direction: column;
    align-content: center;
}

.gig-ticket-button-container {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    align-self: flex-end;
}

.gig-ticket-button {
    background-color: rgba(215,35,35,1);
    padding: 1rem 2rem;
    border-radius: 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: all 0.2s ease;
}

.gig-ticket-button:hover {
    background-color: rgba(126,21,21,1);
    cursor: pointer;
    transform: scale(1.05);
}

.gig-ticket-button-passed{
    background-color: rgb(51, 38, 38);
}

.gig-ticket-button-passed:hover{
    background-color: rgb(32, 24, 24);
}


