@import "colorScheme.css";

/* going for desktop first method */

.navigation-bar-container{
    position: sticky;
    top:0px;
    z-index: 2;
    max-width: 100%;
    max-height: 8vh;
    background-color: var(--secondary-color);
    
}

@keyframes animation-scroll-forwards{
    from {
        margin: 0px 0px 0px 0px;
    }
    to {
        margin: 0px 10px 10px 10px;
    }
}

@keyframes animation-scroll-backwards{
    from {
        margin: 0px 10px 10px 10px;
    }
    to {
        margin: 0px 0px 0px 0px;
    }
}

.navigation-bar{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0vw;
    /* max-height: 8vh; */
    padding: 3px 0px 0px 0px;
    /* margin: 10px 0px 10px 0px; */
    height: 100%;
    background-color: var(--secondary-color);
}

.navigation-home{
    /* max-height: 100%;  */
    max-height: 5vh;
    padding-left: 6vw; 
    padding-right: 3vw;
    /* background-color: var(--main-color); */
}

.navigation-home:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.navigation-home-image{
    /* max-height: 100%; */
    max-height: 5vh;
    padding: 0px 0px 0px 0px; 
    
}

.navigation-bar-divider{
    max-height: 5vh;
}

.navigation-divider-image {
    max-height: 5vh;
}

.navigation-link-div{
    /* padding: 5px 10px 5px 10px; */
    font-size: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: space-evenly;
    text-align: center;
    width: 8vw;
}

.navigation-link-div:hover{
    background-color: var(--hover-background-color);
    cursor: pointer;
    color: var(--tertiary-color);
}

.navigation-link{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.navigation-link:hover{
    color: var(--tertiary-color);
    cursor: pointer;
}

.navigation-bar-player{
    display: none;
    flex: 1;
}

@media screen and (max-width: 991px) {
    .navigation-link-div{
        width: 20vw;
    }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 479px) {
    @keyframes animation-scroll-forwards{
        from {
            margin: 0px 0px 0px 0px;
        }
        to {
            margin: 0px 0px 0px 0px;
        }
    }

    @keyframes animation-scroll-backwards{
        from {
            margin: 0px 0px 0px 0px;
        }
        to {
            margin: 0px 0px 0px 0px;
        }
    }
    .navigation-bar-container{
        position: relative;
    }

    .navigation-link-div{
        width: 20vw;
    }
}