/* === Listen to us section styling === */

.our_music_div{
    position: relative;
    margin-top: 1%;
    max-width: 98%;
}

.music_content_div{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    column-gap: 1%;
}

.live_gig_video{
    width: 25%;
    margin: 1%;
}

.our_music_right_div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.spotify_player{
    margin: 1%, 0%, 0%, 0%;
    width: 99%;
}

.review_2{
    /* margin-top: 2%; */
    max-width: 98%;;
}

.review_2_small{
    /* max-width: 50%; */
    text-align: right;
    max-width: 100%;
    left: 0%;
}

/* Large tablets */
@media screen and (max-width: 991px) {
    .review_2_big{
        margin-top: 1%;
        font-size:8vh;
    }

    .live_gig_video{
        align-self: center;
    }
}

/* Small tablets */
@media screen and (max-width: 767px) {
    .music_content_div{
        flex-direction: column-reverse;
    }

    .spotify_player{
        width: 100%;
    }

    .live_gig_video{
        /* Maybe have to hide this on small tablets. It looks strange*/
        height: 0px;
        visibility: hidden;
    }
}

@media screen and (max-width: 479px) {
/* start of phone styles  */
    .our_music_div{
        max-width: 100%;
    }

    .music_content_div{
        flex-direction: column-reverse;
    }

    .live_gig_video{
        /* Maybe have to hide this on mobiles... */
        width: 100%;
    }

    .spotify_player{
        width: 100%;
    }

    .review_2{
        max-width: 98%;;
    }

    .review_2_big{
        margin-top: 2%;
        font-size:9vh;
    }
}