@import "colorScheme.css";

.cookie_consent_container{
    z-index: 4;
    position:fixed;
    top:80vh;
    left:0;
    height:20vh;
    width:100%;
    background-color: var(--white-background-color);
}
